<style>
.container {
    border-radius: 25px;
    background-color: lightgrey;
    width: 50%;
    padding: 5px;
    float: left;
    margin: 5px;
    padding-left: 10px;
}

.darker {
    border-radius: 25px;
    background-color: lightblue;
    width: 50%;
    float: right;
    text-align: right;
    padding: 5px;
    margin: 5px;
    padding-top: 0px;
    padding-right: 10px;
}

.time-right {
  font-size: 15;
  float: right;
  color: #aaa;
}
.time-left {
  font-size: 15;
  float: left;
  color: #999;
}
</style>
{% for messages in message %}
  {% if loginid == 'S' %}
    {% if messages.SenderID == 'S' %}
      <div class="darker">
        <p>{{messages.message}}</p>
        <span class="time-right">{{messages.timestamp}}</span>
      </div>

    {% elif messages.SenderID == 'I' %}
      <div class="container">
        <p>{{messages.message}}</p>
        <span class="time-left">{{messages.timestamp}}</span>
      </div>
    {% endif %}
  {% elif loginid == 'I' %}
    {% if messages.SenderID == 'I' %}
      <div class="darker">
        <p>{{messages.message}}</p>
        <span class="time-right">{{messages.timestamp}}</span>
      </div>

    {% elif messages.SenderID == 'S' %}
      <div class="container">
        <p>{{messages.message}}</p>
        <span class="time-left">{{messages.timestamp}}</span>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

<form action={% url 'polls:login' %} method="post">
    {% csrf_token %}
      {{ form }}
      <!-- <label for="UserID">UserID: </label> -->
      <input type="submit" value="Home">
</form>

<form action={% url 'polls:logout' %} method="post">
    {% csrf_token %}
      {{ form }}
      <!-- <label for="UserID">UserID: </label>
      <input id="UserID" type="text" name="userid">
      <input id="password" type="text" name="password"> -->
      <input type="submit" value="logout">
</form>

<form action={% url 'polls:send_message' %} method="post">
    {% csrf_token %}
      {{ form }}
      <input type="hidden" name="instructorid" value={{instructorid}}>
      <input type="hidden" name="studentid" value={{studentid}}>
      <input id="message" type="text" name="message">
      <input id="sender" type="hidden" name="sender" value={{loginid}}>
      <input type="submit" value="Send">
</form>
