<table>
  <tr>
    <th>Project Title</th>
    <th>Project description</th>
    <th>CPI cut off</th>
    <th>maximum number of students</th>
  </tr>
  <tr>
<form action={% url 'polls:instructor_add_project' %} method="post">
	{% csrf_token %}
    {{ form }}
    <input id="title" type="text" name="title">
    <input id="description" type="text" name="description">
    <input id="CPIcutoff" type="number" step="0.1" name="CPIcutoff">
    <input id="max_no_of_students" type="text" name="max_no_of_students">
    <input name="instructorid" type="hidden" value={{instructor_id}}>

    <input type="submit" value="Add project">
</form>
</tr>
</table>
