<table>
  <tr>
    <th>Instructor</th>
    <th>Project Title</th>
    <th>Details</th>
  </tr>
  {% for projects in Allocated_projects_accepted %}
    <tr>
      <td>{{projects.InstructorID.Name}}</td>
      <td>{{projects.title}}</td>
      <td>
        <form action={% url 'polls:instructor_project_detail' %} method="post">{% csrf_token %}{{ form }}
          <input type="hidden" name="status" value='3'>
          <input type="hidden" name="projectid" value={{projects.ProjectID}}>
          <input type="hidden" name="instructorid" value={{projects.InstructorID.InstructorID}}>
          <input type="submit" value="Details">
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

<form action={% url 'polls:student_home' %} method="post">
    {% csrf_token %}
      {{ form }}
      <!-- <label for="UserID">UserID: </label>
      <input id="UserID" type="text" name="userid">
      <input id="password" type="text" name="password"> -->
      <input type="submit" value="Home">
</form>

<form action={% url 'polls:logout' %} method="post">
    {% csrf_token %}
      {{ form }}
      <!-- <label for="UserID">UserID: </label>
      <input id="UserID" type="text" name="userid">
      <input id="password" type="text" name="password"> -->
      <input type="submit" value="Logout">
</form>