<table>
  <tr>
    <th>StudentID</th>
    <th>InstructorID</th>
    <th>Chat Details</th>
  </tr>
  {% for chats in chat %}
    <tr>
      <td>{{chats.StudentID.StudentID}}</td>
      <td>{{chats.InstructorID.InstructorID}}</td>
      <td>
        <form action={% url 'polls:chat_detail' %} method="post">{% csrf_token %}{{ form }}
          <input type="hidden" name="instructorid" value={{chats.InstructorID.InstructorID}}>
          <input type="hidden" name="instructorname" value={{chats.InstructorID.Name}}>
          <input type="hidden" name="loginid" value='S'>
          <input type="submit" value="Chat Details">
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

<form action={% url 'polls:login' %} method="post">
    {% csrf_token %}
      {{ form }}
      <!-- <label for="UserID">UserID: </label> -->
      <input type="submit" value="Home">
</form>

<form action={% url 'polls:logout' %} method="post">
    {% csrf_token %}
      {{ form }}
      <!-- <label for="UserID">UserID: </label>
      <input id="UserID" type="text" name="userid">
      <input id="password" type="text" name="password"> -->
      <input type="submit" value="logout">
</form>